
@{
    ViewBag.Title = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
  
}
    @section Home{
        <h1 class="tab-title">Trang chủ Admin</h1>                   
        }

