@model List<Web_Sach.Models.Comment>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <div class="user_review_container d-flex flex-column flex-sm-row">
            <div class="user">
                <div class="user_rating">
                    <ul class="star_rating">
                        @Html.Raw(Web_Sach.Common.common.HtmlRate(item.Rate))
                    </ul>
                </div>
            </div>
            <div class="review">
                <div class="review_date">@(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd/MM/yyyy"):"")</div>
                <div class="user_name"></div>
                <p>@item.Content</p>
            </div>
        </div>
    }

}
else
            {
                <p>Cần đăng nhập trước khi bình luận</p>
            }
