<footer class="myfooter  bg-dark text-white py-4 mt-5">
    <div class="container ">
        <div class="row">
            <div class="col-md">
                <h6>DỊCH VỤ</h6>
                <ul class="list-menu">
                    <li class="li_menu  "><a href="#" title="Điểu khoản sử dụng">Điểu khoản sử dụng</a></li>
                    <li class="li_menu  "><a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a></li>
                    <li class="li_menu "><a href="#" title="Liên hệ">Liên hệ</a></li>
                    <li class="li_menu "><a href="#" title="Hệ thống nhà sách">Hệ thống nhà sách</a></li>
                    <li class="li_menu"><a href="#" title="Tra cứu đơn hàng">Tra cứu đơn hàng</a></li>
                </ul>


            </div>

            <div class="col-md">
                <h6>HỖ TRỢ</h6>
                <ul class="list-menu">
                    <li class="li_menu  "><a href="#" title="Hướng dẫn đặt hàn">Hướng dẫn đặt hàng</a></li>
                    <li class="li_menu  "><a href="#" title="Chính sách đổi trả - hoàn tiền">Chính sách đổi trả - hoàn tiền</a></li>
                    <li class="li_menu "><a href="#" title="Phương thức vận chuyển">Phương thức vận chuyển</a></li>
                    <li class="li_menu "><a href="#" title="Phương thức thanh toán">Phương thức thanh toán</a></li>
                    <li class="li_menu"><a href="#" title="Chính sách khách hàng mua sỉ">Chính sách khách hàng mua sỉ</a></li>
                </ul>
            </div>

            <div class="col-md">
                <h6>GIẤY PHÉP KINH DOANH</h6>
                <ul class="list-menu">
                    <li class="li_menu"><a href="#">Giấy phép số: L 517/GP-BTTTT ngày 6/10/2015 của Bộ Thông tin và Truyền thông</a></li>
                </ul>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <h6 class="mb-3">NHÀ SÁCH KIM ĐỒNG</h6>
                    <p class="m-0" style="color: #8b8e96;">Địa chỉ: Số 55 Quang Trung, Nguyễn Du, Hai Bà Trưng, Hà Nội</p>
                    <p class="m-0" style="color: #8b8e96;">Giấy phép số: L 517/GP-BTTTT ngày 6/10/2015 của Bộ Thông tin và Truyền thông</p>
                    <p class="m-0" style="color: #8b8e96;">Số điện thoại: (+84) 1900571595</p>
                    <p class="m-0" style="color: #8b8e96;">Email: cskh_online@nxbkimdong.com.vn</p>


                </div>


                <div class="col-md-6">
                    <h6>KẾT NỐI MẠNG XÃ HỘI</h6>
                    <div>
                        <span class="box50 border border-danger bg-white rounded-pill m-3">
                            <a href="https://www.instagram.com/kimdongbooks/" target="_blank">
                                <i class="fa-brands fa-instagram text-dark iconMXH"></i>

                            </a>
                        </span>

                        <span class="box50 border border-danger bg-white rounded-pill m-3">
                            <a href="https://www.facebook.com/profile.php?id=61557399235295" target="_blank">
                                <i class="fa-brands fa-facebook text-info iconMXH"></i>
                            </a>
                        </span>

                        <span class="box50 border border-danger bg-white rounded-pill m-3">
                            <a href="https://www.youtube.com/user/KimDongPublishingHou" target="_blank">
                                <i class="fa-brands fa-youtube text-danger iconMXH"></i>
                            </a>

                        </span>
                    </div>


                </div>

            </div>
            <hr>

            <div class="row justify-content-around">

                COPYRIGHTS © 2021 BY NXB KIM ĐỒNG. POWERED BY HARAVAN

            </div>

        </div>
    </div>
</footer>