@model List<Web_Sach.Models.DanhMucSP>


<ul class="nav flex-column">
    @foreach (var item in Model)
    {
        if (item.ID == ViewBag.cateId)
        {
            <li class="nav-item border border-dark"><a href="/san-pham/@item.MetaTitle-@item.ID" class="nav-link  text-bg-info">@item.Name</a></li>

        }
        else
        {
            <li class="nav-item border border-dark"><a href="/san-pham/@item.MetaTitle-@item.ID" class="nav-link  text-dark">@item.Name</a></li>

        }

    }

</ul>
